.banner-color{
    background-color:#fceae8;
}
.c-footer{
    border: 0;
    background-color: white;
}
.panda-card{
    border: 0;
}
.category img{
    width: 100px;
}
.subscribe{
    height: 300px;
    background-color: #fceae8;
    border-radius: 1em;
}